<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <title>LeetSpeak</title>
  </head>
  <body>
    <div class="container">
      <h1>Your Converted String:</h1>
      <h3>@Model.GetPhrase()</h3>
      <a href="/">Try another conversion!</a>
    </div>
  </body>
</html>
