<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <title>LeetSpeak</title>
  </head>
  <body>
    <div class="container">
      <h1>Convert your string to LeetSpeak!</h1>
      <form action="/leet-phrase" method="post">
        <label for="phrase">Input your string:</label>
        <input type="text" name="phrase">
        <button type="submit" class="btn btn-success">Convert!</button>
      </form>
      <h1></h1>
    </div>
  </body>
</html>
